{
  "extends": "airbnb-base",
	"plugins": [
		"mocha"
	],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-await-in-loop": 0,
    "no-underscore-dangle": 0,
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "new-cap": [
      "error",
      {
        "properties": false
      }
    ],
		"mocha/no-exclusive-tests": "error",
    "generator-star-spacing": 0
  }
}
